# Keep only the necessary files
/doc/*
!/doc/livrables_client
.vs
/bdd/
/data/*
!/data/input/source/.gitkeep
!/data/output/.gitkeep
src/__pycache__/
src/*.pyc
src/__pycache__/config.cpython-312.pyc
src/__pycache__/ocr_utils.cpython-312.pyc
