# Ignore Visual Studio and VSCode settings
.vs
.vscode

# Ignore specific files and directories
/doc/*
!/doc/livrables_client
/bdd/
/data/*
!/data/input/source/.gitkeep
!/data/output/.gitkeep

# Ignore shortcuts and tool
Poetry_Rpur - Raccourci.lnk
git-cleanup.ps1
update_dep.ps1
update_flag_version.ps1

# Python cache files
__pycache__/
*.pyc

# Ignore coverage reports
htmlcov/
.coverage
